<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.contextClassLoaderSource">library</property>
        <property name="hibernate.c3p0.dataSourceName">pg_bfkjs</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.max_size">80</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>
        <property name="hibernate.c3p0.timeout">25000</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">Wang1980</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:33133/bfkjs</property>
        <property name="hibernate.connection.username">bfkjs</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.cqqyd2014.hibernate.entities.EbusinessOrderNoLen"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceItemDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceVoucher"/>
        <mapping class="com.cqqyd2014.hibernate.entities.LogisticsVehicle"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VIntoWhContractByGoodsId"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliveredCount"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysUser"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserSendingWorking"/>
        <mapping class="com.cqqyd2014.hibernate.entities.InvertoryAjustDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.LogisticsBillPrintTemplet"/>
        <mapping class="com.cqqyd2014.hibernate.entities.GoodsReturnD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.InventoryAjustType"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VLogisticsVehicleFee"/>
        <mapping class="com.cqqyd2014.hibernate.entities.GoodsInfo"/>
        <mapping class="com.cqqyd2014.hibernate.entities.GoodsReturnM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VOrderDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VOrderFromUserLen"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceAccountTemplet"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysUserRole"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VOrderMain"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserSendingNoWorking"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VOrderFromUser"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WeixinScanQrLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceAccount"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VPrepackGoodsNum"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverNo"/>
        <mapping class="com.cqqyd2014.hibernate.entities.EcsTaxRate"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ContractM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfCityCode"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VInventoryByGoodsId"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverSeq"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VMenuD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VOrderFrom"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ContractD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VOrderMainGoodsBarcode"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VPrePackageNeedPrint"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.BigEvent"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfAccount"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VMenuM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WarehouseStorageDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WxUser"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VIntoWhContractD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceVoucherDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VPickupYueAll"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverYue"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceItem"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VInventoryByGoodsIdAvailable"/>
        <mapping class="com.cqqyd2014.hibernate.entities.MoveGoodsWarehouseD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.QuotaTrans"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VGoodsAvgPriceInDefaulPrepac"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VGoodsMove"/>
        <mapping class="com.cqqyd2014.hibernate.entities.MoveGoodsWarehouseM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserPar"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VIntoWhContractDByContractGoods"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VPrepackageD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.COrderDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.PrePackageD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysCode"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfPostLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserPriceAvailable"/>
        <mapping class="com.cqqyd2014.hibernate.entities.InventoryAjust"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverMMax"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VGoods"/>
        <mapping class="com.cqqyd2014.hibernate.entities.OrderLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.OrderFromUser"/>
        <mapping class="com.cqqyd2014.hibernate.entities.LogisticsCompany"/>
        <mapping class="com.cqqyd2014.hibernate.entities.HttpErrorLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfResponseBack"/>
        <mapping class="com.cqqyd2014.hibernate.entities.IntoWhM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WxReturnVoiceTxt"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WxReturnTxt"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VWarehouseStorageDetail"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserSending"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VPickupedCount"/>
        <mapping class="com.cqqyd2014.hibernate.entities.LogisticsFee"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VFinanceGoodsPrice"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserPickingNoWorking"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserPrice"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceGoodsPrice"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceBook"/>
        <mapping class="com.cqqyd2014.hibernate.entities.IntoWhD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.PrePackageM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WxDeclearFlag"/>
        <mapping class="com.cqqyd2014.hibernate.entities.OrderFrom"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SupplyInfo"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysRoleMenuD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VWeixinScanQrLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VSysUser"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ComParCode"/>
        <mapping class="com.cqqyd2014.hibernate.entities.MenuD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfResponseOrderBack"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VInventoryByGoodsIdDefaul"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VBarcodePrint"/>
        <mapping class="com.cqqyd2014.hibernate.entities.MenuM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.Ebusiness"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VComGoods"/>
        <mapping class="com.cqqyd2014.hibernate.entities.DeliverD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ComInfo"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SnMax"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WxInput"/>
        <mapping class="com.cqqyd2014.hibernate.entities.Region"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VPickupYue"/>
        <mapping class="com.cqqyd2014.hibernate.entities.DeliverM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VGoodsInfo"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysPar"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ExpressPrint"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserPickingWorking"/>
        <mapping class="com.cqqyd2014.hibernate.entities.UserPar"/>
        <mapping class="com.cqqyd2014.hibernate.entities.Goods"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VComInfo"/>
        <mapping class="com.cqqyd2014.hibernate.entities.COrderMain"/>
        <mapping class="com.cqqyd2014.hibernate.entities.GoodsMove"/>
        <mapping class="com.cqqyd2014.hibernate.entities.WarehouseStorage"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverNeedAssign"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverdCountSeq"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ContractPrintHistory"/>
        <mapping class="com.cqqyd2014.hibernate.entities.ReturnGoods"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VContractM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.IntoWhLog"/>
        <mapping class="com.cqqyd2014.hibernate.entities.FinanceItems"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VDeliverDRows"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfResponseRouteBack"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VContractD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VQuotaTrans"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserMenuD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SysRole"/>
        <mapping class="com.cqqyd2014.hibernate.entities.Warehouse"/>
        <mapping class="com.cqqyd2014.hibernate.entities.UserPrice"/>
        <mapping class="com.cqqyd2014.hibernate.entities.SfResponseOrderSearchBack"/>
        <mapping class="com.cqqyd2014.hibernate.entities.TaobaoGoodsD"/>
        <mapping class="com.cqqyd2014.hibernate.entities.TaobaoGoodsM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserMenuM"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VSnCodeFlag"/>
        <mapping class="com.cqqyd2014.hibernate.entities.VUserPicking"/>
    </session-factory>
</hibernate-configuration>
